---
---

@import "{{ site.theme }}";

section #title h1 {
    font-size: 36px;
    line-height: 36px;
}

.wrapper {
    max-width: 900px;
}

section {
    max-width: 900px;
}

.credits {
    font-size: 10px;
}

body {
    background-color: #15212A;
    color: #BFC9DB;
}

h1, h2, h3 {
    color: #F8AD34
}
